* {
    font-family: 'Lexend Deca', sans-serif;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #f4f7f6;
    margin: 0;
}

header {
    background: #482d57;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 5px 5px;
}

/* MENU LATERAL */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #482d57;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 0px 20px 20px 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    color: #f1d2f4;
    transition: 0.3s;
    transform: scale(1.05);
}

.sidenav a:hover {
    color: #ffffff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/*  */

.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.grid-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-group input, .form-group select {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    font-weight: bold;
}

.btn-sucesso {
    background-color: #00480bc5;
    color: rgb(4, 239, 47);
    width: auto;
    transition: transform 0.3s ease;
}

.btn-sucesso:hover {
    box-shadow: 0 10px 20px rgba(74, 227, 40, 0.464);
    transform: scale(1.05);
}

.btn-meta {
    background: #e4c1f3;
    color: rgb(88, 0, 102);
    width: auto;
    transition: transform 0.3s ease;
}

.btn-meta:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}

.btn-despesa{
    background: #ff000015;
    color: rgb(230, 3, 3);
    width: auto;
    transition: transform 0.3s ease;
}

.btn-despesa:hover {
    box-shadow: 0 10px 20px rgba(255, 0, 0, 0.236);
    transform: scale(1.05);
}

.btn-sair-div {
    display: flex;
    justify-content: center;
    margin-top: 30em;
    position: relative;
}

.btn-sair {
    background: #e74c3c;
    color: white;
    width: auto;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-sair:hover {
    background: #c0392b;
}

.lista-estilizada {
    list-style: none;
    font-size: 13px;
}

.lista-estilizada li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

.saldo-destaque {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #27ae60, #2ecc71);
    color: white;
    padding: 30px;
    margin-bottom: 30px;
}

.saldo-info h2 {
    font-size: 3rem;
    margin: 10px 0;
}

.btn-ajuste {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    color: white;
    padding: 8px 15px;
    width: auto;
    transition: 0.3s;
}

.btn-ajuste:hover {
    background: white;
    color: #27ae60;
}

.hidden {
    display: none;
}


/* LOGIN */

.auth-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.085);

}

.auth-card {
    background-color: #645372;
    padding: 100px;
    border-radius: 30% 90% 30% 90% / 90% 90% 30% 60%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(-45deg, #86778f, #af8eb5, #574b6b, #482d57);
    background-size: 400% 400%;
    animation: gradientMove 8s ease infinite, blob 6s ease-in-out infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes blob {
    0% {
        border-radius: 42% 58% 55% 45% / 55% 45% 55% 45%;
    }

    50% {
        border-radius: 58% 42% 45% 55% / 45% 55% 45% 55%;
    }

    100% {
        border-radius: 42% 58% 55% 45% / 55% 45% 55% 45%;
    }
}

.auth-header {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.label-login {
    color: white;
}

.input-login {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.auth-footer {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.a-login {
    color: #eed3f2;
}

/* MODAL SALDO */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    color: rgb(38, 37, 37);
    margin: 15% auto;
    padding: 15px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.btn-confirmar{
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-cancel {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-modal-saldo {
    width: 70%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* MODAL CADASTRO */

.modal-sucesso {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-sucesso.show {
    display: flex;
}

.modal-sucesso-content {
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    width: 320px;
    animation: fadeIn 0.6s ease;
}

/* ANIMAÇÃO */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
